@import 'normalize.css';

@mixin font-manrope {
	font-family : 'Manrope', sans-serif;
}

@font-face {
	font-family : 'Neue Machina';
	font-style  : normal;
	font-weight : 700;
	src         : local('Neue Machina Bold'), local('Neue-Machina-Bold'),
	url('../fonts/NeueMachina-Bold.woff2') format('woff2'),
	url('../fonts/NeueMachina-Bold.woff') format('woff'),
	url('../fonts/NeueMachina-Bold.ttf') format('truetype');
}

*{
	box-sizing: border-box;
}

// === Variables ===
$color-main: #9cc364;
$color-white: #ffffff;
$color-gray: #444444;
// === / Variables ===

@mixin ellipse-main {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: $color-main;
	&:hover{
		background: darken($color-main, 15%);
	}
}

@mixin ellipse-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #d0e1b8;
}

@mixin button-main{
	@include font-manrope;
	font-size: 18px;
	border: none;
	background: $color-main;
	color: $color-white;
	font-weight: bold;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
	&:hover{
		background: darken($color-main, 15%);
	}
}

@mixin button-secondary{
	@include font-manrope;
	font-size: 18px;
	border: none;
	background: $color-white;
	color: $color-gray;
	font-weight: bold;
	margin: 0;
	padding: 0;
	outline: none;
	cursor: pointer;
	&:hover{
		background: darken($color-white, 15%);
	}
}

.section-inner{
		width: 1170px;
		margin: 0 auto;
		//height: 90vh;
		display: flex;
		flex-direction: column;
}

.section-header {
	color: $color-white;
	background: url('../images/header-shadow.png') no-repeat,
				url('../images/header-bg.png') no-repeat,
				url('../images/header-bg-green.png') no-repeat;
	background-size: 100% 90%;
	position: relative;
	z-index: 3;
	height: 100vh;
	background-blend-mode: normal;
	&-inner {
		width: 1170px;
		margin: 0 auto;
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&-top {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 36px;
		margin: 0 auto;
		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-basis: 375px;
			z-index: 4;
			&__title{
				@include font-manrope;
				font-weight: bold;
				font-size: 20px;
				line-height: 27px;
				max-width: 130px;
				z-index: 10;
				padding-left: 20px;
			}
		}
		&-navigation {
			display: flex;
			flex-basis: 870px;
			z-index: 4;
			justify-content: space-between;
			&__menu{
				display: flex;
				flex-basis: 870px;
				justify-content: space-around;
				padding: 0;
				list-style: none;
				& li {
					display: flex;
					flex-grow: 1;
				}
				& li a {
					color: $color-white;
					@include font-manrope;
					font-weight: bold;
					font-size: 16px;
					line-height: 27px;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&-social{
			z-index: 4;
			display: flex;
			align-items: center;
			flex-basis: 670px;
			justify-content: space-around;
			&__inst {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				& img {
					cursor: pointer;
					&:hover{
						opacity: 0.7;
					}
				}
			}
			&__phone {
				display: flex;
				justify-content: center;
				flex-grow: 1;
				@include font-manrope;
					font-weight: bold;
					font-size: 20px;	
			}
			&__order-call {
				flex-grow: 1;
				& input {
					@include button-main;
					width: 225px;
					height: 50px;
					border-radius: 30px;
					font-size: 16px;
				}
			}
		}
	}

	&-content {
		z-index: 4;
		display: flex;
		flex-grow: 1;
		align-items: center;
		&-wrapper {
			display: flex;
			justify-content: space-between;
			flex-basis: 1170px;
		}
		
		&-left {
			z-index: 4;
			&__title{
				font-family: 'Neue Machina';
				max-width: 500px;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 52px;
				line-height: 73px;
				padding-bottom: 50px;
			}
			&__subtitle{
				@include font-manrope;
				font-size: 18px;
				line-height: 32px;
				padding-bottom: 50px;
				max-width: 420px;
			}
			&__button{
				& input {
					@include button-main;
					width: 304px;
					height: 68px;
					border-radius: 34px;
					font-size: 18px;
				
				}
			}
		}
		&-right {
			display: flex;
			margin-top: 25px;
			flex-basis: 300px;
			&__weather {
				display: flex;
				justify-content: center;
				&_ellipse-secondary {
					@include ellipse-secondary;
					width: 77px;
					height: 81px;
				}
				&_ellipse-main {
					@include ellipse-main;
					width: 65px;
					height: 69px;
				}
			}
			&__info{
				@include font-manrope;
					font-size: 16px;
					line-height: 28px;
					color: $color-white;
				margin-left: 20px;
				margin-top: 17px;
				max-height: 46px;
				max-width: 145px;
			}
		}
	}
	&-details{
		display: flex;
		flex-basis: 85px;
		align-items: center;
		justify-content: center;
		z-index: 3;
		&-wrapper {
			display: flex;
			align-items: center;
			&:hover {
				cursor: pointer;
			}
		}
		&__text {
			@include font-manrope;
					font-size: 18px;
					color: $color-gray;
			margin-left: 20px;
		}
	}
}

.section-promo{
	display: flex;
	margin-top: 45px;
	padding-top: 45px;
	&-title{
		display: flex;
		justify-content: center;
		&__text {
			color: $color-main;
			font-family: 'Neue Machina';
			font-size: 42px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&-content{
		display: flex;
		justify-content: space-between;
		margin-top: 80px;
		&__item{
			display: flex;
			flex-direction: column;
			flex-basis: 235px;

			&__icon {
				width: 125px;
				height: 125px;
				display: flex;
				justify-content: center;
				margin-bottom: 35px;
				margin: 0 auto 35;
			}
			&__title {
				text-align: center;
				margin: 0 auto 30;
				font-family: "Neue Machina";
				color: $color-gray;
				font-size: 24px;
				font-weight: 700;
				line-height: 34px;
			}
			&__content {
				text-align: center;
				margin: 0 auto;
				@include font-manrope;
				color: #898989;
				font-size: 16px;
				font-weight: 400;
				line-height: 30px;
			}
			&-ellipse-secondary {
				@include ellipse-secondary;
				width: 125px;
				height: 125px;
			}
			&-ellipse-main {
				@include ellipse-main;
				width: 105px;
				height: 105px;
			}
		}
	}
}

.section-promo2 {
	display: flex;
	margin-top: 90px;
	background: url('../images/background-promo2.png') no-repeat, $color-white;
	background-size: 100% 100%;
	z-index: 1;
	height: 820px;
	background-blend-mode: multiply;
	&-wrapper {
		display: flex;
		flex-basis: 1920px;
		justify-content: center;
		margin: auto;
		margin-top: 210px;
		height: 610px;
	}
	&__photo{
		display: flex;
		flex-basis: 505px;
		height: 505px;
		margin-right: 45px;
	}
	&__block{
		display: flex;
		flex-basis: 720px;
		height: 510px;
		flex-direction: column;
		background: $color-white;

		&-wrapper {
			padding-left: 50px;
			padding-top: 45px;
		}
		&__title {
			color: $color-main;
			font-family: "Neue Machina";
			font-size: 32px;
			font-weight: 700;
			line-height: 48px;
			text-align: left;
			text-transform: uppercase;
			padding-bottom: 30px;
		}
		&__text {
			color: $color-gray;
			@include font-manrope;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			text-align: left;
			padding-bottom: 45px;
			max-width: 570px;
		}
		&__button_btn {
			@include button-main;
			width: 270px;
			height: 60px;
			border-radius: 30px;
			margin-bottom: 45px;
		}
	}
}

.section-promo3 {
	display: flex;
	margin-top: -25px;
	z-index: 1;
	height: 420px;
	background: url('../images/background-promo3.png') no-repeat, $color-main;
    background-blend-mode: multiply;
	background-size: 100% 100%;

	&-wrapper {
		display: flex;
		flex-basis: 1920px;
		margin-top: 85px;
		justify-content: center;
		align-items: center;
		margin: auto;
		height: 335px;
	}
	&__photo{
		display: flex;
		flex-basis: 505px;
		height: 400px;
	}
	&__block{
		display: flex;
		height: 230px;
		flex-direction: column;
		&__title {
			color: $color-white;
			font-family: "Neue Machina";
			font-size: 42px;
			font-weight: 700;
			line-height: 58px;
			text-align: left;
			text-transform: uppercase;
			padding-bottom: 35px;
		}
		&__text {
			color: $color-gray;
			@include font-manrope;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			text-align: left;
			padding-bottom: 35px;
			max-width: 570px;
			color: $color-white;
		}
		&-button{
			display: flex;

			&__item {

			}
			&__btn {
				@include button-secondary;
				width: 333px;
				height: 60px;
				border-radius: 30px;
				margin-right: 65px;
			}
		}
	}
}